<ul class='nav'>
  <ul class='logo'>
    <li> <a href="">Fixed Nav</a> </li> 
    <li (click) = 'toggleTabs()' class='drop-menu '> <a class="material-icons menu">menu</a> </li> 
  </ul>
  <ul class='tabs slideTab' [ngClass]="{'slideTab': showTabs, 'slideTabUp': !showTabs, 'noanim': dontAnim}"> 
    <li><a href="">Home</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Projects</a></li>
    <li class='blog-cell'>
      <a class='blog' (click)='toggleBlog()'>Blog</a>
      <div (click)='toggleBlog()' class='blog-container'   [ngClass]="{'noanim': dontAnimBlog,'showBlogContainer': showBlog, 'slideToRight': showBlog, 'slideToLeft': !showBlog}">
          <ul class='blog-list' [ngClass]="{'showBlogList': showBlog}">
              <li>personal</li>
              <li>contact</li>
              <li>my blog</li>
            </ul>
            <div class='close-area'></div>
      </div>

    </li>
  </ul>

</ul>

<div class='layer' (click) = 'toggleTabs()'  [ngClass]="{'expand-layer': showTabs}"></div>

<div>content here....</div>