<ul class='nav'>
  <ul class='logo'>
    <li> <a href="">Fixed Nav</a> </li> 
    <li (click) = 'toggleTabs()' class='drop-menu '> <a class="material-icons menu">menu</a> </li> 
  </ul>
  <ul class='tabs slideTab' [ngClass]="{'slideTab': showTabs, 'slideTabUp': !showTabs, 'noanim': dontAnim}"> 
    <li><a href="/home">Home</a></li>
    <li><a href="/navbar2">About</a></li>
    <li><a href="/navbar3">Projects</a></li>
    <li><a href="">Blog</a></li>
  </ul>

</ul>

<div class='layer' (click) = 'toggleTabs()'  [ngClass]="{'expand-layer': showTabs}"></div>

<div>content here....</div>