<div class="car-list">
  <div class='header'>
      <div class='car-row'>MAKE</div>
      <div class='car-row'>YEAR</div>
      <div class='car-row'>PRICE</div>
      <div class='car-row'>COLOR</div>
      <div class='car-row'>COUNTRY</div>
  </div>
  <div  class='car-rows' *ngFor = 'let car of cars | carsPipe:searched:isDisplayed'>
    <div  class='car-row'>{{car.make}}</div>
    <div  class='car-row'>{{car.year}}</div>
    <div  class='car-row'>{{car.price}}</div>
    <div  class='car-row'>{{car.color}}</div>
    <div  class='car-row'>{{car.country}}</div>
  </div>
</div>

<div class='filter'>
 search by make: <input type="text" name='searched' [(ngModel)]="searched" />
</div>