<p>
    <a routerLink="/firstNav">firstNav </a>

    <br><br><br>

    <a routerLink="/cars">cars component </a>

    <br><br><br>

    <a routerLink="/animations">animations component </a>

    <br><br><br>

    <a routerLink="/carousel">carousel component </a>

    <br><br><br>

    <a routerLink="/navbar2">navbar2 component </a>

    <br><br><br>

    <a routerLink="/navbar3">navbar3 component </a>


    <br><br><br>

    <a routerLink="/navbar4">navbar4 component </a>

    <br><br><br>

    <a routerLink="/navbar5">navbar5 component </a>
</p>
